@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<HelloMVC.Models.Customer>
@{
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>place</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
           {
               <tr>
                   <td>@item.CustomerID</td>
                   <td>@item.FullName</td>
                   <td>@item.Address</td>
               </tr>
           }
        </tbody>
    </table>
</div>
